.current-appointments{
  width: 70%;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
}

.time-slot{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.current-appointments {
  width: 70%;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
}

.time-slot {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.home-container {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(180deg, #2196f3 30vh, #fff 20vh);
  /* background: linear-gradient(180deg, #2196f3 30%, #FFF 70%); */
}

.chicklet-container {
  height: 100%;
  width: 50%;
  margin: auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.left {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.left>* {
  margin-top: 5px;
  margin-left: 5px;
}

.right {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.right>* {
  margin-top: 5px;
  margin-left: 5px;
}

.chicklet-data-container {
  display: flex;
}

.title {
padding: 10px;
display: flex;
flex-flow: row wrap;
justify-content: space-between;
}

.lead {
font-weight: 300 !important;
}
