
<div class="home-container">
    <div class="title">
        <h3 style="font-family: Georgia, 'Times New Roman', Times, serif;">Cure Assist | <span class="lead">Diagnosis Center Portal</span></h3>
        <div>
            <a style="color: crimson; text-decoration: underline; cursor: pointer;"><h5 [matMenuTriggerFor]="options"> <mat-icon>person_outline</mat-icon> </h5></a>
            <mat-menu #options="matMenu">
                <button class="Profile" *ngIf="isHomePage" mat-menu-item (click)="viewAllAppointments()">View Appointment History</button>
                <button class="Profile" *ngIf="appointmentHistoryPage" mat-menu-item (click)="goToHome()">Home</button>
                <button class="Profile" mat-menu-item (click)="resetpassword()">Change Password</button>
                <button class="Profile" mat-menu-item (click)="logout()">Logout</button>
            </mat-menu>
        </div>
    </div>
    <div class="chicklet-container">
      <app-diagnostic-center-profile detailType="name"></app-diagnostic-center-profile>
        <div class="chicklet-data-container">
            <div class="left">
                <app-diagnostic-center-profile detailType="personalInformation"></app-diagnostic-center-profile>
                <app-diagnostic-center-profile detailType="address"></app-diagnostic-center-profile>
            </div>
            <div class="right">
                <app-diagnostic-center-manage-slots></app-diagnostic-center-manage-slots>
                <app-diagnostic-center-view-appointments when="today"></app-diagnostic-center-view-appointments>
            </div>
        </div>
    </div>
</div>