<div class =form>
  <form [formGroup]="prescriptionForm">
    <section class="prescription">
      <mat-card class="Detail">
        <div class="header">
          <label>
            <h4 class="preDate">{{today | date:'dd-MM-yyyy'}}</h4> <!--  precsriptionDate: -->
          </label>
        </div>
        <div>
          <label>
            <h5>Patient Name: {{ patientName | titlecase }} </h5>
            <h5>Patient Phone Number: {{ patientPhoneNumber }} </h5>
            <h5>Doctor Name: {{ doctorName }} </h5>
            <h5>Doctor Phone Number: {{ doctorPhoneNumber }} </h5>
          </label>
        </div>
      </mat-card>
    </section>
  </form>


  <!-- Code for symptoms  -->
  <form [formGroup]="prescriptionForm">
    <section class="prescription">
      <mat-card class="Detail">
        <mat-form-field class="symptoms-chip-list">
          <mat-chip-list #chipList aria-label="Symptom selection">
            <mat-chip *ngFor="let symptom of symptoms" [selectable]="selectable" [removable]="removable"
              (removed)="remove(symptom)">
              {{symptom}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Add symptom .." #symptomInput [formControl]="symptomsCtrl" [matAutocomplete]="auto"
              [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let symptom of filteredSymptoms | async" [value]="symptom">
              {{symptom}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </mat-card>
    </section>
  </form>
  <!-- code for image prescription -->
  <!-- <form [formGroup]="prescriptionForm">
    <section class="prescription">
      <mat-card class="Detail">
        <img [src]='imageUrl' style="width: 100px; height: 100px">
        <input type="file" formControlName="prescriptionImage" accept="image/*"
          (change)='handleImage($event.target.files)'>
      </mat-card>
    </section>
  </form> -->

  <!-- Code for Remarks -->
  <form [formGroup]="prescriptionForm">
    <section class="prescription">
      <mat-card class="Detail">
        <div>
          <mat-form-field>
            <input formControlName="remarks" matInput placeholder="Give remarks">
          </mat-form-field>
        </div>
      </mat-card>
    </section>
  </form>

  <!--code for suggested Tests-->
  <!-- <form [formGroup]="prescriptionForm">
    <section class="prescription">
      <mat-card class="Detail">
        <div>
          <mat-form-field>
            <input formControlName="suggestedTests" matInput placeholder="Suggest Tests">
          </mat-form-field>
        </div>
      </mat-card>
    </section>
  </form> -->

<!----------------------------------------------------------------------------------------->

<!-- <form [formGroup]="prescriptionForm">
  <section class="prescription">
    <mat-card class="Detail">
      <mat-form-field class="suggestedTest-chip-list">
        <mat-chip-list #chipList aria-label="Test selection">
          <mat-chip *ngFor="let test of tests" [selectable]="selectable" [removable]="removable"
            (removed)="removeTest(test)">
            {{test}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Add test .." #testInput [formControl]="testCtrl" [matAutocomplete]="autoTest"
            [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addTest($event)">
        </mat-chip-list>
        <mat-autocomplete #autoTest="matAutocomplete" (optionSelected)="selectedTest($event)">
          <mat-option *ngFor="let test of filteredTest | async" [value]="test">
            {{test}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </mat-card>
  </section>
</form> -->










<!----------------------------------------------------------------------------------------->
  <!-- This is medicine details block  -->
  <section class="prescription">
    <!-- <form [formGroup]="medicineForm" (ngSubmit)="onSubmit()"> -->
        <form [formGroup]="medicineForm">
          
      <mat-card class="Detail">
        <div>
          <mat-form-field>
            <input formControlName="medicineName" matInput placeholder="Medicinename">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input formControlName="medicineQuantity" matInput placeholder="Medicine quantity">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input formControlName="prescribedDosage" matInput placeholder="Prescribed dosage">
          </mat-form-field>
        </div>
​
​
        <div>
          <mat-form-field>
            <mat-select formControlName="prescribedTimings" multiple placeholder="Prescribed timings">
              <mat-option *ngFor="let item of TimingArray" [value]="item">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
​
​
        <div>
          <mat-form-field>
            <input formControlName="prescribedDays" matInput placeholder="prescribed Days">
          </mat-form-field>
        </div>
​
        <div class="addprescriptioncard">
          <button mat-button class="addmedi" (click)="AddMedicines()" >Add Medicines</button>
        </div>
​
      </mat-card>
​
    </form>
    <div class="Submit">
      <button mat-button class="postform" (click)="submitPrescription()">Submit</button>
    </div>
  </section>
</div>