.pharmacy-profile-container {
    display: flex;
    flex-direction: row;
  }
  
  .pharmacy-profile-form-container {
    flex: 1;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .full-width {
    width: 100%;
  }

  .title {
    font-size: 1.2em;
    font-weight: 700;
    padding: 15px;
  }

  