
<form [formGroup]="tsForm">
  <div>
    <label>Slot Start Time (HH:MM)</label>
    <input formControlName="slotStartTime">
    <label>Slot End Time (HH:MM)</label>
    <input formControlName="slotEndTime">
    <label>Slot Capacity</label>
    <input formControlName="slotCapacity">
    <label>Test Conducted In Slot</label>
    <input formControlName="testConductedInSlot">
  </div>
</form>

<button mat-stroked-button *ngIf="timeSlotValueNotNull" (click)="updateTimeSlot()"> Confirm </button>
<button mat-stroked-button *ngIf="!timeSlotValueNotNull" (click)="addNewTimeSlot()"> Add </button>