<div class="login-container">
    <div class="login-container-hero-image"></div>
    <form class="login-form-container">
        <mat-form-field>
            <input matInput placeholder="password" [(ngModel)]="password" type="password" name="password"
                required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="confirm password" [(ngModel)]="confirmpassword" type="password" name="password"
                required>
        </mat-form-field>
        <p class="error-status" *ngIf="errorStatus==401">
            Unauthorized Access
        </p>
        <p class="error-status" *ngIf="errorStatus==406">
            Password and Confirm password should match.
        </p>
        <button mat-raised-button color="primary" (click)="SetPassword()">Submit</button>
    </form>
</div>