
<div class="home-container">
  <div class="title">
    <h3>Cure Assist | <span class="lead">Patient Portal</span></h3>
    <span class="gotofirstend"></span>
    <div class="nav-links">
      <button mat-button (click)="viewprescription()">ViewPrescription</button>
      <span class="gotofirstend"></span>
      <button mat-button (click)="viewtestreport()">ViewTestReports</button>
      <span class="gotoend"></span>
    </div>
    <button class="Profile" mat-button [matMenuTriggerFor]="profile">
       <img src="../../../assets/images/profile.jpg" alt="profile">
    </button>
    <mat-menu #profile="matMenu">
        <button class="Profile" mat-menu-item (click)="resetpassword()">change password</button>
        <button class="Profile" mat-menu-item (click)="logout()">logout</button>
    </mat-menu>
  </div>

  <div class="chicklet-container">
    <app-view-edit detailType="name"></app-view-edit>
    <mat-card>
      <app-search></app-search>
    </mat-card>
    <div class="chicklet-data-container">
      <div class="left">  
        <app-view-edit detailType="contact-info"></app-view-edit>
        <app-view-edit detailType="personal-info"></app-view-edit>
        <!-- <app-view-edit detailType="profile"></app-view-edit> -->
      </div>
      <div class="right">
        <app-view-appointment when="today"></app-view-appointment>
        <app-view-appointment when="upcoming"></app-view-appointment>
        <app-view-appointment when="previous"></app-view-appointment>
      </div>
    </div>
  </div>
</div>
