.home-container {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(180deg, #2196f3 30vh, #fff 20vh);
  /* background: linear-gradient(180deg, #2196f3 30%, #FFF 70%); */
}
/* .Profile {
  margin-left: 200vh;
  margin-top: vh;
} */

.nav-links :hover{
  background-color: white;
}
.chicklet-container {
  height: 100%;
  width: 65%;
  margin: auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.chicklet-container > * {
  margin-top: 10px;
}

.left {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.left>* {
  margin-top: 5px;
  margin-left: 5px;
}

.right {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.right>* {
  margin-top: 5px;
  margin-left: 5px;
}

.chicklet-data-container {
  display: flex;
}

.title {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.lead {
font-weight: 300 !important;
}
.gotoend{
  flex: 1 1 auto;
}
/* .Profile{
  padding: 0 14px;
} */
.gotofirstend{
  flex: 1 1 auto;
}
/* .gotosecondend{
  flex: 1 1 auto;
} */