<mat-toolbar>
  <mat-toolbar-row class="navbar">
    <div class="navbar-options">
      <button class="logo" mat-flat-button color="primary" (click)="goToHome()"> Cure Assist </button>

      <div class="options">
        <button mat-stroked-button color="primary" (click)="goToAppointments()"> View Appointments </button>
        <button mat-stroked-button color="primary" (click)="manageTimeSlots()"> Manage Time Slots </button>
      </div>
    </div>

    <div class="Profile">
        <button mat-flat-button color="primary" [matMenuTriggerFor]="profile"> 
            <i class="material-icons">person</i>
        </button>
        <mat-menu #profile="matMenu">
            <button class="Profile" mat-menu-item (click)="goToProfile()">View Profile</button>
            <button class="Profile" mat-menu-item (click)="resetpassword()">Change Password</button>
            <button class="Profile" mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>