<div class="mat-elevation-z2" >
    <div class="container">
      <div class="flex-grid">
        <aside class="col sidebar">
          <mat-chip-list class="mat-chip-list-stacked" primary="Color selection">
      <mat-chip (click)="onQuotationRequestSelected(quotationRequest)" *ngFor="let quotationRequest of quotationRequests" selected color="primary">
         order {{quotationRequest?.prescriptionId}}
      </mat-chip>
    </mat-chip-list>
        </aside>
        <section class="col main">
          <table mat-table [dataSource]="selectedQuotationObject?.prescribedMedicines" class="mat-elevation-z8">
            
            <ng-container matColumnDef="MedicineName">
              <th mat-header-cell *matHeaderCellDef> Medicine Name </th>
              <td mat-cell *matCellDef="let prescribedMedicine">
                {{prescribedMedicine.medicineName}} </td>
            </ng-container>
    
            
            <ng-container matColumnDef="PrescribedDosage">
              <th mat-header-cell *matHeaderCellDef> Prescribed Dosage </th>
              <td mat-cell *matCellDef="let prescribedMedicine">
                {{prescribedMedicine.prescribedDosage}} </td>
            </ng-container>
    
           
            <ng-container matColumnDef="Quantity">
              <th mat-header-cell *matHeaderCellDef> Quantity </th>
              <td mat-cell *matCellDef="let prescribedMedicine">
                {{prescribedMedicine.medicineQuantity}} </td>
            </ng-container>
    
            <ng-container matColumnDef="MedicinePrice">
              <th mat-header-cell *matHeaderCellDef> Medicine Price </th>
              <td mat-cell *matCellDef="let prescribedMedicine">
                <input type='number' matInput (keydown.enter)=totalMedicineCost(prescribedMedicine.medicineName,$event)
                  (keydown.backspace)=finalMedicineCost(prescribedMedicine.medicineName,$event)> </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table><br>
          <input matInput placeholder="Total Cost" [(ngModel)]="totalCost" required>&nbsp;&nbsp;
          <button mat-raised-button color="primary" (click)="pharmacyResponseMethod(totalCost)"> Confirm Order </button>
        </section>
      </div>
    </div>
    </div>
    