<app-navbar></app-navbar>
<div class="profile-view">
    <mat-card class="profile-card">
        <div class="imagecontainer">
            <img src="../../../assets/images/icon.jpg" alt="dc image">
        </div>
        <div class="details-container">
            <mat-card-header>
                <mat-card-title><h3>{{viewdcprofiledata.diagnosticCenterName}}</h3></mat-card-title>
                <mat-card-subtitle>
                    <h5>Address:</h5>
                    {{viewdcprofiledata.diagnosticCenterAddress}}
                </mat-card-subtitle>
                <mat-card-subtitle>
                    <h5>City:</h5>
                    {{viewdcprofiledata.diagnosticCenterCity}}
                </mat-card-subtitle>
                <mat-card-subtitle>
                    <h5>Tests Conducted</h5>
                    {{viewdcprofiledata.testsConducted}}
                </mat-card-subtitle>
            </mat-card-header>
        </div>
        <hr>
        <mat-accordion>
            <mat-expansion-panel [class.mat-expansion-panel]="false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <button mat-raised-button color="primary">Book Appointment</button>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div>
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="bookdate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <br>
                    <div *ngFor="let time of viewdcprofiledata.diagnosticCenterSlots">
                        <button mat-raised-button color="primary"
                            (click)="openDialog(time.slotStartTime,time.slotEndTime,viewdcprofiledata.diagnosticCenterId)">{{time.slotStartTime}}-{{time.slotEndTime}}</button>&nbsp;
                        &nbsp;
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card>
</div>