<div class="mat-elevation-z2" *ngIf="when == 'today'">
    <div class="appointments-container" *ngIf="todayPatients.length == 0">
        <h4>Today's Appointments</h4>
        <div>
            You don't have any appointments.
        </div>
    </div>
    <div class="appointments-container" *ngIf="todayPatients.length >= 1">
        <p class="title">Today's Appointments</p>
        <mat-table class="appointments" [dataSource]="todayPatients">
            <ng-container cdkColumnDef="firstName">
                <mat-header-cell *cdkHeaderCellDef>Patient</mat-header-cell>
                <mat-cell *cdkCellDef="let patient">
                    {{patient.firstName | titlecase}}&nbsp;{{patient.lastName | titlecase}}</mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="phoneNumber">
                <mat-header-cell *cdkHeaderCellDef>Phone Number</mat-header-cell>
                <mat-cell *cdkCellDef="let patient">{{patient.phoneNumber}}</mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="moreDetails">
                <mat-header-cell *cdkHeaderCellDef> Upload Test Reports </mat-header-cell>
                <mat-cell *cdkCellDef="let patient">
                      <button mat-button color="primary" (click)="viewAppointmentDetails(patient.userId)"> <mat-icon>cloud_upload</mat-icon> Reports </button> 
                </mat-cell>
            </ng-container>  
            <mat-header-row *cdkHeaderRowDef="['firstName','phoneNumber', 'moreDetails']"></mat-header-row>
            <mat-row *cdkRowDef="let doctor; columns: ['firstName','phoneNumber', 'moreDetails']"></mat-row>
        </mat-table>
    </div>
    <button mat-button *ngIf="isHomePage" (click)="viewAllAppointments()">View All Appointments</button>
</div>


<!-- Upcoming appointments -->
<div class="mat-elevation-z2" *ngIf="when == 'upcoming'">
    <div class="appointments-container" *ngIf="later.length == 0;">
        <h4>Upcoming Appointments</h4>
        <div>
            You don't have any upcoming appointments.
        </div>
    </div>
    <div class="appointments-container" *ngIf="later.length >= 1">
        <p class="title">Upcoming Appointments</p>
        <mat-table class="appointments" [dataSource]="later">
            <ng-container cdkColumnDef="date">
                <mat-header-cell *cdkHeaderCellDef>Date</mat-header-cell>
                <mat-cell *cdkCellDef="let appointment">
                    {{appointment.date | date: "MMM d"}}</mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="firstName">
                <mat-header-cell *cdkHeaderCellDef>Patient</mat-header-cell>
                <mat-cell *cdkCellDef="let appointment">
                    {{appointment.firstName | titlecase}}&nbsp;{{appointment.lastName | titlecase}}
                </mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="startTime">
                <mat-header-cell *cdkHeaderCellDef>Time</mat-header-cell>
                <mat-cell *cdkCellDef="let appointment">{{appointment.startTime | date: 'HH:mm'}}</mat-cell>
            </ng-container>
            <!-- <ng-container cdkColumnDef="prescription">
                <mat-header-cell *cdkHeaderCellDef>Add Prescription</mat-header-cell>
                <mat-cell *cdkCellDef="let appointment">
                    <button color="primary" (click)=openPrescriptionDialog(patient.userId)>Prescription</button>
                </mat-cell>
            </ng-container> -->
            <mat-header-row *cdkHeaderRowDef="['date','firstName','startTime']">
            </mat-header-row>
            <mat-row *cdkRowDef="let patient; columns: ['date','firstName','startTime']">
            </mat-row>
        </mat-table>
    </div>
</div>

<!--Previous Appointments-->
<div class="mat-elevation-z2" *ngIf="when == 'previous'">
        <div class="appointments-container" *ngIf="previous.length <= 4;">
            <h4>Previous Appointments</h4>
            <div>
                You don't have any previous appointments.
            </div>
        </div>
        <div class="appointments-container" *ngIf="previous.length > 4">
            <p class="title">Previous Appointments</p>
            <mat-table class="appointments" [dataSource]="previousPatients">
                <ng-container cdkColumnDef="date">
                    <mat-header-cell *cdkHeaderCellDef>Email</mat-header-cell>
                    <mat-cell *cdkCellDef="let patient">
                        {{ patient.email }}
                       </mat-cell>
                </ng-container>
                <ng-container cdkColumnDef="Name">
                    <mat-header-cell *cdkHeaderCellDef>Name</mat-header-cell>
                    <mat-cell *cdkCellDef="let appointment">
                        {{appointment.firstName | titlecase}}&nbsp;{{appointment.lastName | titlecase}}
                    </mat-cell>
                </ng-container>
                <ng-container cdkColumnDef="Phone Number">
                    <mat-header-cell *cdkHeaderCellDef>Contact Number</mat-header-cell>
                    <mat-cell *cdkCellDef="let patient">
                        {{ patient.phoneNumber }}
                    </mat-cell>
                </ng-container>
                <!-- <ng-container cdkColumnDef="prescription">
                    <mat-header-cell *cdkHeaderCellDef>Add Prescription</mat-header-cell>
                    <mat-cell *cdkCellDef="let appointment">
                        <button color="primary" (click)=openPrescriptionDialog(patient.userId)>Prescription</button>
                    </mat-cell>
                </ng-container> -->
                <mat-header-row *cdkHeaderRowDef="['date','Name','Phone Number']">
                </mat-header-row>
                <mat-row *cdkRowDef="let patient; columns: ['date','Name','Phone Number']">
                </mat-row>
            </mat-table>
        </div>
    </div>
