.appointments-container {
    width: 100%;
    padding: 15px;
    margin: auto;
    margin-bottom: 20px;
}

.appointments {
    margin-top: 15px;
    width: 100%;
    margin: auto;
}

.attendee-name {
    font-size: 1.5em;
    font-weight: 700;
}

.title {
    font-size: 1.2em;
}
mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
    padding: 0;
}

mat-cell {
    justify-content: center;
}

mat-header-cell {
    justify-content: center;
}