<div class="mat-elevation-z2 name-container" *ngIf="detailType == 'name'">
    <div class="name-card-bg"></div>
    <div class="name-card-content">
        <ngx-avatar size="120" name="{{ diagnosticCenter.diagnosticCenterName | titlecase }}"></ngx-avatar>
        <h2> {{ diagnosticCenter.diagnosticCenterName | titlecase }} </h2>
        <mat-chip-list>
            <mat-chip *ngFor="let test of testsConducted">
                {{ test }}
            </mat-chip>
        </mat-chip-list>   
        <star-rating [value]="rating" checkedcolor="red" uncheckedcolor="black" size="20px"></star-rating>     
    </div>
</div>

<div class="mat-elevation-z2 personal-information" *ngIf="detailType == 'personalInformation'">
    <p class="title">Basic Information</p>
    <mat-card-content>
        <p>{{ diagnosticCenter.diagnosticCenterEmail }} </p>
        <p>{{ diagnosticCenter.diagnosticCenterRegNum }} </p>
        <p>{{ diagnosticCenter.diagnosticCenterPhone }}</p>
    </mat-card-content>
    <button mat-button color="primary" (click)="goToUpdateProfile()"><mat-icon>edit</mat-icon> Update Profile</button>
</div>

<mat-card class="mat-elevation-z2" *ngIf="detailType == 'address'">
    <p class="title">Address</p>
    <mat-card-content>
        <address>{{ diagnosticCenter.diagnosticCenterAddress }}</address>
        <p> {{ diagnosticCenter.diagnosticCenterCity }} </p>
        <address>{{ diagnosticCenter.pincode }}</address>
    </mat-card-content>
    <button mat-button color="primary" (click)="goToUpdateProfile()"><mat-icon>edit</mat-icon> Update Profile</button>
</mat-card>