<app-onboarding-homepage></app-onboarding-homepage>
<div class="login-container">
  <div class="login-container-hero-image"></div>
  <form class="login-form-container">
    <mat-form-field>
      <input matInput placeholder="username" [(ngModel)]="emailId" name="emailId" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="password" [(ngModel)]="password" type="password" name="password" required>
    </mat-form-field>
    <p class="error-status" *ngIf="errorStatus==403">
      Please Enter Correct Email and Password
    </p>
    <p class="error-status" *ngIf="errorStatus==500">
      Please Login from your respective site
    </p>
    <button mat-raised-button class="login" (click)="LoginUser()">LogIn</button>
  </form>
</div>