<app-navbar></app-navbar>
<div class="profile-view">
  <mat-card class="profile-card">
    <div class="imagecontainer">
      <img src="../../../assets/images/icon.jpg" alt="doctor image">
    </div>
    <div class="details-container">
      <mat-card-header>
        <mat-card-title><h3>Dr.&nbsp;{{viewprofiledata.doctorFirstName}}&nbsp;{{viewprofiledata.doctorLastName}}</h3>
        </mat-card-title>
        <mat-card-subtitle>
          <h5>Experience:</h5>{{viewprofiledata.doctorExperience}}years
        </mat-card-subtitle>
        <mat-card-subtitle>
          <h5>Specialization:</h5>{{viewprofiledata.doctorSpecialization}}
        </mat-card-subtitle>
        <mat-card-subtitle>
          <h5>City:</h5>{{viewprofiledata.doctorCity}}
        </mat-card-subtitle>
      </mat-card-header>
    </div>
    <hr>
    <mat-accordion>
      <mat-expansion-panel [class.mat-expansion-panel]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <button mat-raised-button color="primary">Book Appointment</button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date"
              [(ngModel)]="bookdate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field><br>
          <!-- // symptoms chips -->
          <mat-form-field class="symptoms-chip-list">
            <mat-chip-list #chipList aria-label="Symptom selection">
              <mat-chip *ngFor="let symptom of symptoms" [selectable]="selectable" [removable]="removable"
                (removed)="remove(symptom)">
                {{symptom}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input placeholder="Add symptom .." #symptomInput [(ngModel)]="symptomsCtrl" [matAutocomplete]="auto"
                [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let symptom of filteredSymptoms | async" [value]="symptom">
                {{symptom}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field><br>
            
          
          <div *ngFor="let time of viewprofiledata.doctorSlots">
            <button mat-raised-button color="primary"
              (click)="openDialog(time.slotStartTime,time.slotEndTime, viewprofiledata.doctorId,symptoms)">
              {{time.slotStartTime}}-{{time.slotEndTime}}</button>&nbsp;
            &nbsp;
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>
<!-- {{bookdate|json}} -->
