.appointments-container {
  width: 100%;
  padding: 15px;
  margin: auto;
  margin-bottom: 20px;
}

.appointments {
  margin-top: 15px;
  width: 100%;
  margin: auto;
}

.attendee-name {
  font-size: 1.5em;
  font-weight: 700;
}

.title {
  font-size: 1.2em;
  font-weight: 700;
}
