<!-- View Today's Appointment-->
<div class="mat-elevation-z2" *ngIf="when == 'today'">
  <div class="appointments-container" *ngIf="today.length == 0">
    <h4>Today's Appointments</h4>
    <div>
      You don't have any appointments.
    </div>
  </div>
  <div class="appointments-container" *ngIf="today.length >= 1">
    <p class="title">Today's Appointments</p>
    <mat-table class="appointments" [dataSource]="today">
      <ng-container cdkColumnDef="doctorFirstName">
        <mat-header-cell *cdkHeaderCellDef>Doctor/DC</mat-header-cell>
        <mat-cell *cdkCellDef="let appointment">
          {{appointment.doctorFirstName | titlecase}}&nbsp;{{appointment.doctorLastName | titlecase}}</mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="doctorPhoneNumber">
        <mat-header-cell *cdkHeaderCellDef>Phone#</mat-header-cell>
        <mat-cell *cdkCellDef="let appointment">
          {{appointment.doctorPhoneNumber}}</mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="startTime">
        <mat-header-cell *cdkHeaderCellDef>Time</mat-header-cell>
        <mat-cell *cdkCellDef="let appointment">{{appointment.startTime | date: 'HH:mm'}}</mat-cell>
      </ng-container>
      <mat-header-row *cdkHeaderRowDef="['doctorFirstName','doctorPhoneNumber','startTime']">
      </mat-header-row>
      <mat-row *cdkRowDef="let appointment; columns: ['doctorFirstName','doctorPhoneNumber','startTime']">
      </mat-row>
    </mat-table>
  </div>
</div>


<!-- Upcoming appointments -->

<div class="mat-elevation-z2" *ngIf="when == 'upcoming'">
  <div class="appointments-container" *ngIf="later.length == 0;">
    <h4>Upcoming Appointments</h4>
    <div>
      You don't have any upcoming appointments.
    </div>
  </div>
  <div class="appointments-container" *ngIf="later.length >= 1">
    <p class="title">Upcoming Appointments</p>
    <mat-table class="appointments" [dataSource]="later">
      <ng-container cdkColumnDef="date">
        <mat-header-cell *cdkHeaderCellDef>Date</mat-header-cell>
        <mat-cell *cdkCellDef="let appointment">
          {{appointment.date | date: "MMM d"}}</mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="doctorFirstName">
        <mat-header-cell *cdkHeaderCellDef>Doctor/DC</mat-header-cell>
        <mat-cell *cdkCellDef="let appointment">
          {{appointment.doctorFirstName | titlecase}}&nbsp;{{appointment.doctorLastName | titlecase}}</mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="startTime">
        <mat-header-cell *cdkHeaderCellDef>Time</mat-header-cell>
        <mat-cell *cdkCellDef="let appointment">{{appointment.startTime | date: 'HH:mm'}}</mat-cell>
      </ng-container>
      <mat-header-row *cdkHeaderRowDef="['date','doctorFirstName','startTime']">
      </mat-header-row>
      <mat-row *cdkRowDef="let appointment; columns: ['date','doctorFirstName','startTime']">
      </mat-row>
    </mat-table>
  </div>
</div>

<!-- Previous appointment -->


<div class="mat-elevation-z2" *ngIf="when == 'previous'">
  <div class="appointments-container" *ngIf="previous.length == 0">
    <h4>Previous Appointments</h4>
    <div>
      You don't have any previous appointments.
    </div>
  </div>
  <div class="appointments-container" *ngIf="previous.length >= 1">
    <p class="title">Previous Appointments</p>
    <mat-table class="appointments" [dataSource]="previous">
        <ng-container cdkColumnDef="date">
            <mat-header-cell *cdkHeaderCellDef>Date</mat-header-cell>
            <mat-cell *cdkCellDef="let appointment">
              {{appointment.date | date: "MMM d"}}</mat-cell>
          </ng-container>
          <ng-container cdkColumnDef="doctorFirstName">
            <mat-header-cell *cdkHeaderCellDef>Doctor/DC</mat-header-cell>
            <mat-cell *cdkCellDef="let appointment">
             {{appointment.doctorFirstName | titlecase}}&nbsp;{{appointment.doctorLastName | titlecase}}</mat-cell>
          </ng-container>
          <ng-container cdkColumnDef="rating">
            <mat-header-cell *cdkHeaderCellDef>Rate</mat-header-cell>
            <mat-cell *cdkCellDef="let appointment"><star-rating value="5" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="false" (rate)="onRate($event,appointment.userId)"></star-rating></mat-cell>
          </ng-container>
      <mat-header-row *cdkHeaderRowDef="['date','doctorFirstName','rating']"></mat-header-row>
      <mat-row *cdkRowDef="let appointment; columns: ['date','doctorFirstName','rating']"></mat-row>
    </mat-table>
  </div>
</div>