<div class="mat-elevation-z2 name-container" *ngIf="detailType == 'name'">
  <div class="name-card-bg"></div>
  <div class="name-card-content">
    <ngx-avatar size="120" name="{{ pharmacyName | titlecase }}"></ngx-avatar>
    <h2> {{ pharmacyName | titlecase }}</h2>
  </div>
</div>

<div class="contact-info mat-elevation-z2" *ngIf="detailType == 'contact-info'">
  <div class="title">Contact Information</div>
  <div class="contact-info-item">
    <div>{{emailId}}</div>
    <mat-hint>Email Address</mat-hint>
  </div>
  <div class="contact-info-item">
    <div>{{phoneNumber}}</div>
    <mat-hint>Phone Number</mat-hint>
  </div>
  <button mat-raised-button (click)="onUpdate()"><mat-icon>create</mat-icon>Update profile</button>
</div>

<!-- <div *ngIf="detailType == 'profile'" class="mat-elevation-z2 pharmacy-profile-form-wrapper">
  <form class="pharmacy-profile-form-container" [formGroup]="formModel" (submit)="onsubmit()">

    <mat-form-field class="form-group" class="full-width">
      <mat-label>Pharmacy Name</mat-label>
      <input matInput class="form-control" formControlName="pharmacyName" name="pharmacyName" required>
    </mat-form-field>

    <mat-form-field class="form-group" class="full-width">
      <mat-label>Pharmacy Location</mat-label>
      <input matInput class="form-control" formControlName="pharmacyLocation" name="pharmacyLocation" required>
    </mat-form-field>

    <mat-form-field class="form-group" class="full-width">
      <mat-label>Pharmacy Pincode</mat-label>
      <input matInput class="form-control" formControlName="pharmacyPincode" name="pharmacyPincode" required>
    </mat-form-field>

    <mat-form-field class="form-group" class="full-width">
      <mat-label>Pharmacy Register Number</mat-label>
      <input matInput class="form-control" formControlName="pharmacyRegisterNumber" name="pharmacyRegisterNumber"
        required>
    </mat-form-field>

    <mat-form-field class="form-group" class="full-width">
      <mat-label>Phone Number</mat-label>
      <input matInput class="form-control" formControlName="phoneNumber" name="phoneNumber" required>
    </mat-form-field>

    <mat-form-field class="form-group" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput class="form-control" formControlName="emailId" name="emailId" required>
    </mat-form-field>

    <button mat-raised-button color="primary">Update Profile</button>
  </form>
</div> -->