<div class="search-container">
    <mat-form-field>
            <select placeholder="CITY" [(ngModel)]="city" required matNativeControl>
                <option *ngFor="let city of City">{{city}}</option>
            </select>
        </mat-form-field>
        <mat-form-field class="search-field">
            <input matInput  name="search" placeholder="Search  by doctors,diagnostic and tests..."
                [(ngModel)]="searchbar" (keyup)="searchDoctorsByName($event.target.value)"
                (keyup)="searchDoctorBySpecialization($event.target.value)" (keyup)="searchDCByName($event.target.value)"
                (keyup)="searchDCByTest($event.target.value)" (keyup)="searchDoctorsBySymptoms($event.target.value)">
        </mat-form-field>
</div>
<mat-list>
    <mat-list-item class="searchList" *ngFor="let doctor of doctorByName">
        <h4 mat-line>Dr. {{doctor.doctorFirstName}}&nbsp;{{doctor.doctorLastName}}</h4>
        <p mat-line> {{doctor.doctorSpecialization}} </p>
        <hr>
        <button mat-raised-button (click)="Viewdoctorprofile(doctor)" (click)=viewdoctorprofilecard()
            color="primary">View</button>
    </mat-list-item>
</mat-list>
<mat-list>
    <mat-list-item class="searchList" *ngFor="let diagnostic of diagnosticsByName">
        <h4 mat-line>{{diagnostic.diagnosticCenterName}}</h4>
        <p mat-line> {{diagnostic.diagnsoticCenterCity}} </p>
        <hr>
        <button mat-raised-button (click)="Viewdcprofile(diagnostic)" (click)=viewdcprofilecard() color="primary">View</button>
    </mat-list-item>
</mat-list>
<app-view-appointment></app-view-appointment>