.register-container {
    display: flex;
    height: 100%;
  }
  
  .register-container-hero-image {
    flex: 2;
    background: url("../../../assets/images/O4YIN80.jpg");
    background-size: cover;
    height: 100%;
    padding-top: 50vh;
  }
  
  .register-form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 15px;
    font-size: 1.5em;
    padding-top: 30vh;
    background-color: whitesmoke;
  }
  .register{
    background: #2196f3;
  }