.flex-container{
    display: flex;
    justify-content: center;
    padding-top: 20vh;
  }
  .doctorappointment-image-container{
    flex: 1;
    max-width: 400px;
  }
  .buymedicine-image-container{
    flex: 1;
    max-width: 400px;
  }
  .diagnosisappointment-image-container{
    flex: 1;
    max-width: 400px;
  }
  
  .card-image{
    height: 50vh;
  }
  .doctorappointment-header-image
  {
    background-image: url('../../../assets/images/doctoricon.jpg');
    background-size: cover;
  }
  .buymedicine-header-image
  {
    background-image: url('../../../assets/images/tabs.jpg');
    background-size: cover;
  }
  .diagnosisappointment-header-image
  {
    background-image: url('../../../assets/images/surgical-services.jpg');
    background-size: cover;
  }
  .image-container{
    width: 2400vh;
    transition: left 2s;
  }

  /* Footer CSS */
  .Footer-container{
   display: flex;
   height: 30vh;
   background-color: #2196f3;
   margin-top: 5%;
  }
  .patient-container{
    flex: 1;
  }
  .doctor-container{
    flex: 1;
  }
  .pharmacy-container{
    flex: 1;
  }
  .diagnostics-container{
    flex: 1;
  }
  li{
    font-size: 12px;
    text-decoration: none;
    list-style-type: none;
  }
  .name-flex-container h1{
    font-family: serif;
    display: flex;
    justify-content: center;
  }
  .list-cont :hover{
    background-color: white;
  }