<app-onboarding-homepage></app-onboarding-homepage>
<div class="flex-container">
        <mat-card class="doctorappointment-image-container">
          <mat-card-header>
            <div mat-card-avatar class="doctorappointment-header-image"></div>
            <mat-card-title>Doctor</mat-card-title>
            <mat-card-subtitle>Book an appointment</mat-card-subtitle>
          </mat-card-header>
          <a href="doctor.cureassist.cg-wave7.stackroute.io/onboarding/"><img class="card-image" mat-card-image src="../../../assets/images/doctorappointment.jpg" alt="Doctor image"></a>
          <mat-card-content>
            
          </mat-card-content>
        </mat-card>&nbsp;&nbsp;&nbsp;&nbsp;
      
        <mat-card class="buymedicine-image-container">
          <mat-card-header>
            <div mat-card-avatar class="buymedicine-header-image"></div>
            <mat-card-title>Pharmacy</mat-card-title>
            <mat-card-subtitle>Buy Medicines</mat-card-subtitle>
          </mat-card-header>
          <a href="pharmacy.cureassist.cg-wave7.stackroute.io/onboarding/"><img class="card-image" mat-card-image src="../../../assets/images/buymedicine.jpg!d" alt="Buymedicine images"></a>
          <mat-card-content>
            
          </mat-card-content>
        </mat-card>&nbsp;&nbsp;&nbsp;&nbsp;
        
      
        <mat-card class="diagnosisappointment-image-container">
          <mat-card-header>
            <div mat-card-avatar class="diagnosisappointment-header-image"></div>
            <mat-card-title>Diagnostics</mat-card-title>
            <mat-card-subtitle>Book appointment for tests </mat-card-subtitle>
          </mat-card-header>
          <a href="dc.cureassist.cg-wave7.stackroute.io/onboarding/"><img class="card-image" mat-card-image src="../../../assets/images/diagnosisappointment.jpg" alt="Diagnoctics images"></a>
          <mat-card-content>
            
          </mat-card-content>
        </mat-card>
        
      </div>
      
      <!-- Footer starts here -->
      
<mat-toolbar class="Footer-container">
    <div class="patient-container">
      <ul class="list-cont"> 
        <li class="foo-link"> For Patient</li>
        <li class="foo-link">patient.cure-assist.com</li>
        <li class="foo-link">Book doctor and tests appointment</li>
        <li class="foo-link">Buy medicines online</li>
      </ul>
    </div>
    <div class="doctor-container">
        <ul class="list-cont">
            <li class="foo-link"> For Doctor</li>
            <li class="foo-link">doctors.cure-assist.com</li>
            <li class="foo-link">Have his appointments online</li>
            <li class="foo-link">View patients previous records</li>
          </ul>
    </div>
    <div class="pharmacy-container">
        <ul class="list-cont">
            <li class="foo-link"> For Pharmacy</li>
            <li class="foo-link">pharmacy.cure-assist.com</li>
            <li class="foo-link">Get orders from the patient</li>
            <li class="foo-link">Deliver medicines</li>
          </ul>
    </div>
    <div class="diagnostics-container">
        <ul class="list-cont">
            <li class="foo-link"> For Diagnostics</li>
            <li class="foo-link">diagnosticcenter.cure-assist.com</li>
            <li class="foo-link">Appointments of patients</li>
            <li class="foo-link">Upload reports online</li>
          </ul>
    </div>
</mat-toolbar>
        