<div class="login-container">
    <form class="login-form-container">
        <h1>Reset Password</h1>
        <mat-form-field>
            <input matInput placeholder="old Password" [(ngModel)]="oldpassword" type="password" name="password"
                required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="new Password" [(ngModel)]="newpassword" type="password" name="password"
                required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Re-enter new Password" [(ngModel)]="confirmnewpassword" type="password"
                name="password" required>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="resetPassword()">Submit</button>
    </form>
</div>